.example-full-width{
  width: 100%;
}
  #title{
    text-align: center;
    color: brown;
    background-color:rgb(243, 236, 236);
  }
  .example-form{
    margin: auto;
    width: 60%;   
    padding: 10px;
  }
  .example-buttun{
    margin-left: 40%;
    margin-right: auto;
    width: 40%;
  }