<!-- <form class="frm"><h1 mat-dialog-title id="title" class="example-formh">
  ADD USER</h1>
<table class="example-full-width" cellspacing="0" aling="center" class="example-form">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="data.name">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="data.username">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password " [(ngModel)]="data.password">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="data.email">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone" [(ngModel)]="data.phone">
      </mat-form-field>
    </td>
  </tr>
  <tr class="example-full-width">
    <td>
      <div mat-dialog-actions class="example-buttun">        
        <button mat-button (click)="onAdd()" cdkFocusInitial style="color:blue">Ok</button> 
      </div>
    </td>
    <td>
      <div mat-dialog-actions >        
        <button mat-button (click)="onNoClick()" style="color: red">No Thanks</button>  
      </div>
    </td>
  </tr>
</table>
</form>

 
 -->
 <mat-card-title>
  <mat-toolbar class="toolbar">
    <mat-card-title>Contact Information</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-title>
<mat-card-content>
  <div class="container">
    <form [formGroup]="_contactForm" (submit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Password</label>
            <input type="text" formControlName="password" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Phone</label>
            <input type="text" formControlName="phone" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
          <button type="submit" class="btn btn-success">
            <mat-icon>save</mat-icon>
          </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-card-content>
