<form class="frm"><h1 mat-dialog-title id="title" class="example-formh">
  ADD USER</h1>
<table class="example-full-width" cellspacing="0" aling="center" class="example-form">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="data.name">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="data.username">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password " [(ngModel)]="data.password">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="data.email">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone" [(ngModel)]="data.phone">
      </mat-form-field>
    </td>
  </tr>
  <tr class="example-full-width">
    <td>
      <div mat-dialog-actions class="example-buttun">        
        <button mat-button (click)="onAdd()" cdkFocusInitial style="color:blue">Ok</button> 
      </div>
    </td>
    <td>
      <div mat-dialog-actions >        
        <button mat-button (click)="onNoClick()" style="color: red">No Thanks</button>  
      </div>
    </td>
  </tr>
</table>
</form>

 

