.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  #form{
    box-align: center;
   // background-image: url("F:/Electron_ng_Cli/ElectronDemo/src/app/images/img_lights.jpg");  
  }
  img{
        opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
  
  }
  #title{
    text-align: center;
    color: brown;
    background-color:rgb(243, 236, 236);
  }
  
  